<section id="download" class="download">
  <h2>Download Flow-Wing</h2>
  <p>Choose your preferred version to get started with Flow-Wing:</p>

  <div class="download-container">
    <div class="download-card">
      <h3>REPL</h3>
      <p>Interactive programming environment for quick testing.</p>
      <ul>
        <li>
          <a href="link-to-windows-repl" class="download-button"
            >Windows 64bit</a
          >
        </li>
        <li>
          <a href="/downloads/mac-arm64" class="download-button">Mac arm64</a>
        </li>
        <li>
          <a href="/downloads/linux-x86_64" class="download-button">Linux x86_64</a>
        </li>
      </ul>
    </div>

    <div class="download-card">
      <h3>AOT</h3>
      <p>Download the Ahead-Of-Time compiler for optimized performance.</p>
      <ul>
        <li>
          <a href="link-to-windows-aot" class="download-button"
            >Windows 64 bit</a
          >
        </li>
        <li>
          <a href="/downloads/mac-arm64" class="download-button">Mac arm64</a>
        </li>
        <li>
          <a href="/downloads/linux-x86_64" class="download-button">Linux x86_64</a>
        </li>
      </ul>
    </div>

    <div class="download-card">
      <h3>JIT</h3>
      <p>Download the Just-In-Time compiler for dynamic execution.</p>
      <ul>
        <li>
          <a href="link-to-windows-jit" class="download-button"
            >Windows 64 bit</a
          >
        </li>
        <li>
          <a href="/downloads/mac-arm64" class="download-button">Mac arm64</a>
        </li>
        <li>
          <a href="/downloads/linux-x86_64" class="download-button">Linux x86_64</a>
        </li>
      </ul>
    </div>
  </div>
</section>
