<header>
  <div class="logo">
    <img src="static/logo.svg" alt="Flow-Wing Logo" height="20" width="20" />
  </div>
  <h1>Flow-Wing</h1>
  <nav>
    <ul>
      <li>
        <a href="https://github.com/your-repo" target="_blank">Read Docs</a>
      </li>
      <li><a href="">Create Server</a></li>
      <li><a href="#download">Create Game</a></li>
      <li><a href="#about">About</a></li>

      <li><a href="https://github.com/your-repo" target="_blank">GitHub</a></li>
    </ul>
  </nav>
</header>
