<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Flow-Wing Programming Language</title>
  <link rel="stylesheet" href="/static/header-styles.css" />
  <link rel="stylesheet" href="/static/homePage-styles.css" />
  <link rel="stylesheet" href="/static/footer-styles.css" />
  <link rel="stylesheet" href="/static/getStarted-styles.css" />
  <link rel="stylesheet" href="/static/download-styles.css" />
  <link rel="stylesheet" href="/static/extension-styles.css" />
  <link rel="stylesheet" href="/static/download-page-styles.css" />
  <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
  <!-- Internal CSS -->
  <style>
    /* Global Styles */
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: Arial, sans-serif;
      animation: gradientAnimation 10s ease infinite; /* Apply animation */
      background: linear-gradient(270deg, #034977, #000000);
    }
  </style>
</head>
